<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lost Password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="p/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="p/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="p/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="p/vendor/animate/animate.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="p/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="p/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="p/vendor/select2/select2.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="p/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="p/css/util.css">
    <link rel="stylesheet" type="text/css" href="p/css/main.css">
<!--===============================================================================================-->
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
                <form class="login100-form validate-form flex-sb flex-w" method="post">
                    <span class="login100-form-title p-b-32">
                        Change password
                    </span>

                    <span class="txt1 p-b-11">
                        New password
                    </span>
                    <div class="wrap-input100 validate-input m-b-36" data-validate = "Password is required">
                        <input class="input100" pattern=".{6,}" type="password" id="password" name="password" title="6 characters minimum" required >
                        <span class="focus-input100"></span>
                    </div>

                    <span class="txt1 p-b-11">
                        Confirm new password
                    </span>
                    <div class="wrap-input100 validate-input m-b-12" data-validate = "Password confirm is required">
                        <input class="input100" pattern=".{6,}" type="password" id="password_confirm" name="password_confirm" title="6 characters minimum" required >
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <input type="hidden" value="<%= code %>" id="code" name="code">
                        <button class="login100-form-btn">
                            Save password
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

<!--===============================================================================================-->
    <script src="p/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
    <script src="p/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
    <script src="p/vendor/bootstrap/js/popper.js"></script>
    <script src="p/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
    <script src="p/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
    <script src="p/vendor/daterangepicker/moment.min.js"></script>
    <script src="p/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
    <script src="p/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
    <script src="p/vendor/md5/js/md5.min.js"></script>
<!--===============================================================================================-->
    <script src="p/js/main.js"></script>


    <script>
        $(document).ready(function() {
            $(".validate-form").submit(function(e) {
                e.preventDefault();

                $.ajax({
                    url: "/new-password",
                    method: "POST",
                    dataType: "json",
                    data : {
                        password : md5($("#password").val()),
                        password_confirm : md5($("#password_confirm").val()),
                        code : $("#code").val()
                    },
                    success: function (data) {
                        if (data.success !== true)
                            alert(data.error.detail);
                        else
                            alert("Success!");
                    },
                    error : function (data) {
                        var json = data.responseJSON;

                        if (json && json.message)
                            alert(json.message);
                        else
                            alert("Failed");
                    }
                });
            });
        });
    </script>
</body>
</html>
