<!DOCTYPE html>
<html lang="en">
<head>
	<title>Lost Password | {{config('app.name</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="http://api.loclify.hostly.hu/p/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="http://api.loclify.hostly.hu/p/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="http://api.loclify.hostly.hu/p/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="http://api.loclify.hostly.hu/p/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="http://api.loclify.hostly.hu/p/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="http://api.loclify.hostly.hu/p/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="http://api.loclify.hostly.hu/p/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="http://api.loclify.hostly.hu/p/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="http://api.loclify.hostly.hu/p/css/util.css">
	<link rel="stylesheet" type="text/css" href="http://api.loclify.hostly.hu/p/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
                <div class="alert alert-danger">
                    <%= message %>
                </div>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="http://api.loclify.hostly.hu/p/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="http://api.loclify.hostly.hu/p/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="http://api.loclify.hostly.hu/p/vendor/bootstrap/js/popper.js"></script>
	<script src="http://api.loclify.hostly.hu/p/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="http://api.loclify.hostly.hu/p/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="http://api.loclify.hostly.hu/p/vendor/daterangepicker/moment.min.js"></script>
	<script src="http://api.loclify.hostly.hu/p/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="http://api.loclify.hostly.hu/p/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="http://api.loclify.hostly.hu/p/js/main.js"></script>

</body>
</html>
